<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Editing Images</h1>
        </header>
        <h2>Image 1</h2>
        <img src="images/sunrise-1409090_1280.jpg" alt="sunrise unaltered">
        <img src="images/sunrise.jpg" alt="sunrise altered">
        <p> The Sunrise was cropped and resized</p>
        <h2>Image 2</h2>
        <img src="images/sky-2479213_1280.jpg" alt="sky unaltered">
        <img src="images/sky.jpg" alt="sky altered">
        <p> The photo was cropped flipped and resized.</p>
        <h2>Image 3</h2>
        <img src="images/ship-8170663_1280.jpg" alt="unaltered">
        <hr/>
        <img src="images/ship.jpg" alt="altered">
        <p>picture was cropped and resized</p>
        <h2>Image 4</h2>
        <img src="images/owl-8445460_1280.jpg" alt="unaltered">
        <img src="images/owl.jpg" alt="altered">
        <p>image was cropped and resized</p>
        <h2>Image 5</h2>
        <img src="images/chiemsee-lake-8523044_1280.jpg" alt="unaltered">
        <hr/>
        <img src="images/chiemsee-lake.jpg" alt="altered">
        <p>image was cropped and resized</p>
    </div>

</body>

</html>