body{
    background: rgb(223, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
    float: left: ;
}
nav, h1{
    text-align: center;
}
nav a{
    font-size: larger;
    color:rgb(19,19,17);
    padding: 10px 20px;
    background-color: #53b653;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    border-radius: 20px;
    border: 2px solid #53b653;
}

nav a:hover{
    color: #53b653;
    background: black;
}
img{
    float: center;
}

#pg-top {
    background-color: #2ecc71;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 6px;
    float: right;
  }

/* Style for outside page links */
a[target="_blank"] {
    color: #ff6600; /* Bright orange color */
    font-weight: bold; /* Bold text */
    text-decoration: underline; /* Underline text */
    background-color: #f0f0f0; /* Light grey background */
    padding: 5px; /* Padding around the link */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

a[target="_blank"]:hover {
    background-color: #ff6600; /* Change background color on hover */
    color: #ffffff; /* Change text color on hover */
}
